<!DOCTYPE html>
<html ng-app="MyApp">
    <head>
        <title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="css/foundation.min.css"/>
        <link rel="stylesheet" type="text/css" href="css/main.css"/>
        

        <!-- Angular 1.5.5 Content Delivery Network -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

        <script src="main.js"></script>

    </head>
    <body>
        <div id="wrapper" ng-controller="Controller1 as c">

            <input type="text"  ng-model="name"/>
            <input type="text"  ng-model="color"/>
            <ol>
                <li class="name-{{n.color}}" ng-repeat="n in names">{{greeting + n.name}}</li>
            </ol>

            <input type="button" value="Click Me" ng-click="addMemer()"/>

            <input type="button" value="Get people" ng-click="getPeople()"/>
            <ul>
                <li ng-repeat="nick in in_office">{{nick}}</li>
            </ul>
        </div>
    </body>
</html>
